#System
max_workers: 10
binaries_path: '../binaries'

# DB CONFIGURATION
DB_USERNAME: usuario
DB_PASSWORD: clave
DB_HOST: localhost
DB_PORT: 5432
DB_NAME: BioData

rabbitmq_host: localhost
rabbitmq_user: guest
rabbitmq_password: guest

monitor_interval: 1

#Execution
limit_execution: 100 # Debug Mode. False for complete run

### Information System/
## Load Accessions
tag: 'GOA'

# Load  from CSV
load_accesion_csv: ../data/fantasia.csv
load_accesion_column: id

# Fetch from API
search_criteria: '(reviewed:true)'
limit: 200

# UniProt Extraction
allowed_evidences:
  - EXP
  - IDA
  - IPI
  - IMP
  - IGI
  - IEP
  - TAS
  - IC


# PDB Extraction
resolution_threshold: 5
server: "https://files.wwpdb.org/"
data_directory: "~/data"
file_format: "mmCif"


## Operations
constants: "config/constants.yaml"

# Sequence Clustering
## Temporal files that will be created, check that the directories path exists
fasta_path: "~/data/complete.fasta" #Check
cdhit_out_path: "~/data/cd_hitout" # Temporal file that will be created, check that the directory path exists
## --
sequence_identity_threshold: 0.98
alignment_coverage: 0.95
memory_usage: 25000
most_representative_search: 1



# Structural Alignment
structural_alignment:
  types:
    - 1
    - 2
    - 3

  retry_timeout: 1
  retry_count: 5
  batch_size: 1000
  task_timeout: 20


# Embedding
embedding:
  types:
    - 1 # ESM
#    - 2 # ProstT5
#    - 3 # ProtT5
  batch_size: 80
  batch_size_embedding: 40
# GO Metrics
obo: '../data/go-basic.obo'
go_annotation_file: '../data/cgd.gaf'



k: 5

