name: Pipy publish
on:
  push:
    branches:
      - main

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10"]
        poetry-version: ["1.4.0"]
        os: [ubuntu-22.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: install dependecies and build
        run: | 
              poetry install 
              poetry build 
              poetry config pypi-token.pypi "${{ secrets.PYPI_API_TOKEN }}" 
              poetry publish
